
@{
    ViewBag.Title = "UploadKYC";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

    if (Session["Email"] == null)
    {
        // Redirect to the login page if the email session is not set
        Response.Redirect(Url.Action("Index", "Login"));
    }
}
@model Dictionary<string, List<object>>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portal - Bootstrap 5 Admin Dashboard Template For Developers</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="~/assets/plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/portal.css">
    <link id="theme-style" rel="stylesheet" href="~/assets/css/custom.css">

</head>

<body class="app">


    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <h1 class="app-page-title">Upload KYC Files</h1>
                <hr class="mb-4">
                <div class="row g-4 settings-section">
                    <div class="container">
                        <div class="row g-4 settings-section">
                            <div class="col-12 col-md-4">
                                <div class="section-intro">
                                    Upload your files using the form below. Accepted file types: .pdf, .doc, .docx, .jpg, .png
                                    <br />
                                    <aside> As  discussed, the following are the requirements required to be onboarded onto the platform</aside>
                                    @foreach (var row in Model)
                                    {
                                        <ul class="list-unstyled">
                                            <li>@row.Value[0] @row.Value[1]</li>

                                        </ul>

                                    }

                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="app-card app-card-settings shadow-sm p-4">
                                    <div class="app-card-body">
                                        <form id="form" method="post" enctype="multipart/form-data" class="dropzone" action="/File/Upload">
                                            <div class="dz-message">
                                                <span>Drop files here or click to upload</span>
                                            </div>
                                        </form>
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div>
                        </div><!--//row-->
                    </div><!--//container-->

                </div><!--//row-->

            </div><!--//container-fluid-->
        </div><!--//app-content-->
        <!--<footer class="app-footer">
            <div class="container text-center py-3">-->
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <!--<small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
            </div>
        </footer>-->
        <!--//app-footer-->

    </div><!--//app-wrapper-->
    <!-- Javascript -->
    <script src="~/assets/plugins/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Page Specific JS -->
    <script src="~/assets/js/app.js"></script>


    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#form", {
            url: "/Client/Upload", // This points to the Upload action in your FileController
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 8, // MB
            acceptedFiles: ".pdf,.doc,.docx,.jpg,.png", // Acceptable file types
            init: function () {
                this.on("success", function (file, response) {
                    console.log("File uploaded successfully");
                    // Optionally, you can handle success behavior here
                });
                this.on("error", function (file, response) {
                    console.log("Error uploading file: " + response);
                    // Optionally, handle error behavior here
                });
            }
        });
    </script>
</body>
</html>