<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiraApiIntegrationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NiraApiIntegrationService.Properties.Settings>
            <setting name="NiraApiIntegrationService_ug_co_pegasus_test_PegPay"
                serializeAs="String">
                <value>https://test.pegasus.co.ug:8019/TestPegPayApi/PegPay.asmx</value>
            </setting>
        </NiraApiIntegrationService.Properties.Settings>
    </applicationSettings>
</configuration>