
@{
    ViewBag.Title = "PendingBusinesses";
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
}
@model Dictionary<string, List<object>>

<body class="app">
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <h1 class="app-page-title"> Your Clients</h1>
                <div class="row g-4 mb-4">
                    @foreach (var row in Model)
                    {
                        <a href="@Url.Action("GetFiles", "Approvals", new { BusinessId = row.Value[0], BusinessName = row.Value[1], Location = row.Value[2], fileCount = row.Value[3] })" class="col-12 col-lg-6">
                            
                            <div class="app-card app-card-chart h-100 shadow-sm">
                                <div class="app-card-header p-3 border-0">
                                    <h4 class="app-card-title">@{System.Diagnostics.Debug.WriteLine(row.Value.ToString()); }</h4>
                                </div><!--//app-card-header-->
                                <div class="app-card-body p-4">
                                    <div class="chart-container">
                                        @row.Value[0];
                                        <br />
                                        @row.Value[1];
                                        <br />
                                        @row.Value[2];
                                    </div>
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                        </a>
                    }

                </div><!--//row-->

            </div>
        </div>
    </div>

</body>


